<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
              class="de.fraunhofer.ipa.ros.sysml2rostooling.SysMLGeneratorExecutableExtensionFactory:de.fraunhofer.ipa.ros.sysml2rostooling.GenerationHandler"
              commandId="de.fraunhofer.ipa.ros.sysml2rostooling.command">
        </handler>
    </extension>

    <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.fraunhofer.ipa.ros.sysml2rostooling.command"
            name="Generate .rossystem from SysML">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.ui.popup.any?after=additions">
      <command
               commandId="de.fraunhofer.ipa.ros.sysml2rostooling.command"
               >
             <visibleWhen
                   checkEnabled="false">
                <and>
                   <with
                         variable="selection">
                      <count
                            value="1">
                      </count>
                   </with>
                   <iterate
                         ifEmpty="false">
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="sysml">
                           </test>
                   </iterate>
                </and>
             </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
